<div id="footerbg">
    <div id="footertext">
        <ul class="list-unstyled list-inline">
            <li><a href="/about">About</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>&copy; @DateTime.Now.Year - Chef.me</li>
        </ul>
    </div>
</div>